*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    padding: 20px;
}
.colors{
    margin-bottom: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color{
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: aqua;
    padding: 8px;
}
#red{
    background-color: #cf3636;
    color: white;
}
#blue{
    background-color: #3666cf;
    color: white;
}
#yellow{
    background-color: #cdcf36;
    color: white;
}
#orange{
    background-color: #cf7d36;
    color: white;
}
#green{
    background-color: #158b11;
    color: white;
}
#violet{
    background-color: #6d096d;
    color: white;
}
#box{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
}